body {
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 400px;
  font-size: clamp(6px, 2vw, 20px);
}
.container {
  height: 40px;
  margin: 0;
}
p {
  font-size: 130%;
  margin: 0px 10px;
}
/* span {
  text-decoration: underline wavy #0bd;
} */
.date {
  font-size: 180%;
  font-family:'Times New Roman', Times, serif;
}
.item1 {
  font-size: 110%;
  margin: 0px 10px 10px 350px;
}
.item1:hover {
  color: orange;
  font-weight: bold;
}


div {
  display: flex;
  flex: 1;
}
nav {
  width: 230px;
  background-color: pink;
}
nav span {
  margin: 0px 20px;
}


nav ul {
  margin: 3px 20px;
  padding: 3px;
  list-style-type: none;
}

.note1 {
  font-size: 12px;
}
.note2 {
  font-size: 13px;
  margin: 5px auto;
}
.note3 {
  font-size: 13px;
  margin: 5px auto;
}
.note4 {
  font-size: 13px;
  margin: 5px auto;
}

.catch1 {
  width: 30px;
  height: 30px;
  margin: 5px 5px 50px 5px;
}


main {
  
  flex: 1;
  background-color: beige;
}


.photo44 {
  width: 500px;
  height: 300px;
  margin: 50px 100px;
}
.photo45 {
  width: 500px;
  height: 300px;
  margin: 50px 100px;
}
.photo46 {
  width: 400px;
  height: 500px;
  margin: 50px 100px;
}
.photo47 {
  width: 500px;
  height: 300px;
  margin: 50px 100px;
}
.photo48 {
  width: 500px;
  height: 400px;
  margin: 50px 100px;
}







/* aside {
  width: 200px;
  background-color: skyblue;
} */
#footer {
  width: 1000px;
  font-size: 12px;
  color: #aaa;
  padding: 5px 5px;
  border-top: 4px solid #ccc;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  div {
    flex-direction: column;
  }
  nav, aside {
    width: 100%;
    height: auto;
  }
  main {
    order: -1;
  }
}